/* styles/Header.module.css */
.header {
    background-color: #007bff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
    width: 100px;
  }
  
  .nav ul {
    display: flex;
    gap: 20px;
  }
  
  .nav ul li {
    list-style: none;
  }
  
  .nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .nav ul li a:hover {
    text-decoration: underline;
  }
  